<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Felda Fauzan Alfajr | Portofolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="style2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css')}}">
  </head>
  <body>
    <!-- NAVBAR START -->
    <div class="mynav">
      <nav class="fixed-top navbar navbar-expand-md border-bottom" data-bs-theme="dark" style="background-color: #ffe366cf">
        <div class="container">
          <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
            Aperture
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
                    </a>
                  </li>
                  <li class="nav-item"><a class="nav-link " href="#" style="color: black">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="#about" style="color: black">About Me</a></li>
                  <li class="nav-item"><a class="nav-link" href="#myprojects" style="color: black">My Projects</a></li>
                  <li class="nav-item"><a type="text" class="btn btn-outline-light" class="nav-link" href="#contact" style="color: rgb(0, 0, 0)">Contact Me</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- NAVBAR END -->

    <!-- HOME START -->
    <div class="home">
      <div class="position-relative overflow-hidden p-3 p-lg-5 text-center">
        <div class="text col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold mt-5" style="color: rgb(92, 157, 157);">Felda Fauzan Alfajr</h1>
          <h3 class="fw-normal mb-3" style="color: rgb(0, 0, 0);">Musician | Front End Developer</h3>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#ffcf00"
        fill-opacity="1"
        d="M0,0L20,21.3C40,43,80,85,120,96C160,107,200,85,240,85.3C280,85,320,107,360,149.3C400,192,440,256,480,266.7C520,277,560,235,600,208C640,181,680,171,720,170.7C760,171,800,181,840,165.3C880,149,920,107,960,90.7C1000,75,1040,85,1080,101.3C1120,117,1160,139,1200,138.7C1240,139,1280,117,1320,122.7C1360,128,1400,160,1420,176L1440,192L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"
      ></path>
    </svg>
    <!-- HOME END -->

    <!-- ABOUT START -->
    <section id="about">
      <div class="container text-center">
        <div class="row mt-5">
          <h1>-- ABOUT ME --</h1>
          <div class="col">
            <img src="{{ url_for('static', filename='image/foto ojan baru.png')}}" />
          </div>
          <div class="col d-flex align-items-center">
            <h5>
              Undergraduate student of Informatics 5th semester Gunadarma University. I am able to communicate clearly and effectively both orally and in writing. I am also always open for self-development and knowledge update. I am highly
              dedicated and ready to learn new things and accept new challenges. and I am also a confident person. I am also highly interested in Frontend developer and look for associated opportunities to utilize my technical expertise and
              creative skills.
            </h5>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <!-- ABOUT END -->

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#e6ba00"
        fill-opacity="1"
        d="M0,96L40,101.3C80,107,160,117,240,138.7C320,160,400,192,480,181.3C560,171,640,117,720,90.7C800,64,880,64,960,106.7C1040,149,1120,235,1200,261.3C1280,288,1360,256,1400,240L1440,224L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
      ></path>
    </svg>

    <!-- PROJECT START -->
    <section id="myprojects">
      <h1 class="text-center mb-5 text-light">-- MY PROJECTS --</h1>
      <div class="projectcontoh">
        <div class="row row-cols-1 row-cols-md-4 g-5">
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='image/project1.png')}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Blender Project</h5>
                <p class="card-text">Membuat project sebuah ruangan menggunakan aplikasi blender</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='image/project2 (1).png')}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">UI Travel Agent Website</h5>
                <p class="card-text">Membuat tampilan website agent travel sederhana</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='image/project3.png')}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">E-apotek berbasis website</h5>
                <p class="card-text">Membuat project e-apotek berbasis website</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='image/project4.png')}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">UI/UX WITH FIGMA</h5>
                <p class="card-text">Membuat project UI/UX tentang Sistem Informasi Kesehatan dalam Masa Pandemi Covid-19 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- PROJECT END -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#e6ba00"
        fill-opacity="1"
        d="M0,64L34.3,96C68.6,128,137,192,206,202.7C274.3,213,343,171,411,165.3C480,160,549,192,617,208C685.7,224,754,224,823,197.3C891.4,171,960,117,1029,96C1097.1,75,1166,85,1234,106.7C1302.9,128,1371,160,1406,176L1440,192L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>

    <!-- CONTACT START -->
    <div id="contact">
      <h2 class="text-center mb-5">-- CONTACT ME --</h2>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="masukkan nama anda">
                <label for="floatingInput">Your Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="example@mail.com">
                <label for="floatingInput">Your Email</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Message</label>
              </div>
              <button type="submit" class="btn btn-success mt-3 mb-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTACT END -->

    <!-- FOOTER START -->
    <footer style="background-color: #ffe266" class="text-light text-center pb-3 mt-5">
      <p class="pt-5" style="color: black">Created by <a href="https://www.linkedin.com/in/felda-fauzan-alfajr" style="color: rgb(148, 127, 255)" class="fw-bold">Felda Fauzan Alfajr</a></p>
    </footer>
    <!-- FOOTER START -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
